django
djangorestframework
python-decouple
django-environ

psycopg2
gunicorn

factory-boy

# Shell plus
ipython
django-extensions

django-cors-headers

# Filtros de vistas
django-filter


pandas
openpyxl